/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
      width: 100%;
      text-align: left; /* If you want the text to be left-aligned on small screens */
    }
  }

  @media(min-width: 500px) {

  }
  
  @media(min-width: 960px){
      nav.flex {
          flex-direction: column;
          justify-content: space-between;
      }













      ***********************************
          LOGO
***********************************/

.header{
background-color: skyblue;
margin:0;
padding:0;
width: 100%;

}

.logo{
text-align: left;
display: block;
margin:0 15px 15px 15px;

}

#logo-large{
display: inline;
font-size: 3em;
font-weight: 200%;
font-family: 'Dosis' , sans-serif;
}

#logo-small{
display: inline;
font-weight:0;
font-size: 3em;
font-family: 'Dosis' ,sans-serif;
}


/************************************
           NAVIGATION
************************************/

.nav ul{
list-style-type:none;
display: block;
padding: 5px;
margin: 5px;
text-align: center;


}

.nav ul li{
display: inline;
padding: 5px 15px;

}

.nav ul li a{
text-decoration: none;
padding: 5px;
color:black;
font-family: 'Muli', sans-serif;
font-size: 1.25em;

}

.nav ul li a:active, .nav ul li a:hover{
background-color: deepskyblue;
color: white;
}





    