/*     font-family: 'Dancing Script', cursive;

    font-family: 'Lato', sans-serif;

    font-family: 'Montserrat', sans-serif;

    font-family: 'Open Sans', sans-serif;

    font-family: 'Raleway', sans-serif;

    font-family: 'Roboto', sans-serif; */
 
    <link rel="stylesheet" media="screen and (min-width: 900px)" href="widescreen.css">
    <link rel="stylesheet" media="screen and (max-width: 600px)" href="smallscreen.css">
 

 


/* Nav Menu */
nav{
    padding: 20px;
    padding-left: 5px;
    text-align: center;
    list-style: center;        
    list-style-position: inside;
    list-style-image: none;        
    list-style-type: center;
    font-size: 30px;


    float: right;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 100%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center; /* If you want the text to be centered */
}

.navbar {
    width: 100%;
    background-color: rgb(170, 168, 168);
    overflow: auto;
  }
  
  .navbar a {
    float: left;
    padding: 12px;
    text-decoration: none;
    font-size: 17px;
    width: 24%; /* Four links of equal widths */
    text-align: center;
  }

/* Add a background color on mouse-over */
.navbar a:hover {
    background-color: #000;
}
/* Style the current/active link */
.navbar a.active {
    background-color: rgb(170, 168, 168);
  }

nav ul a{
    color: palevioletred;
    text-decoration: whitesmoke;
    line-height: 87px;
    float: left;
    text-align: center;
    width: 150px;
} 

nav ul {
    line-height: 7px;
    float: center;
    text-align: center;
    font-weight: bold;
}

  /* Toggle Menu */
#main-navigation label {
    display: contents;
    cursor: -moz-grab;
    float: inline-start;
    font-size: 26px;
    margin: 18px 31.5px;
}

#main-navigation {
    display: block;
}

#main-navigation a {
    display: block;
    padding: 3px;
    font-size: 14.5px;
    text-align: center;
    clear: right;
}

ul {
    display: none;
    margin-top: 0px;
    margin-bottom: auto;
    transition: 800ms;
    font-display: ;
}

input[type=checkbox]:checked~ul {
  display: inline-table;
}

#menutoggle {
    height: 75px;
    float: inline-start;
    display: none;
}

#menutoggle checked + ul {
    display: block;
}

/* Landing Img */
.jumbotron {
    background-image: url('deskMock.jpg');
    background-size: cover;
    background-position: center;
}

.jumbotron h1,
.jumbotron h3 {
color: palevioletred;
padding: 10px;
}





body {
    background-color: whitesmoke;
    color: palevioletred;
    column-width: 100%;
    width: fit-content;
}
  
h1 {
    background-color:transparent;
    font-family: 'Montserrat';
    font-size: 75px;
}

h3 {
      color: none;
      font-family: 'Dancing Script', cursive;
      align-content: center;
      font-size: 40px;
}

p {
      font-family: 'montserrat';
      font-size: 20px;
      text-align: justify;
      width: 100%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0px;
    align-content: center;
    width: 100%;
    border: 20px;
    border-color: papayawhip;
}

.flex-container > * {
    width: 100%;
    height: 70%;
}

#togglebutton{
    width: 300px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;  
}

.form{    
    display: grid;
    float: left;
    padding: 20px;
    text-decoration: cornsilk;
    font-size: 20px;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    border-bottom-style: solid;
    border-bottom-width: 10px;
    border-left-width: 10px;
    border-left-style: solid;
    border-top-style: solid;
    border-top-width: 10px;
    border-right-width: 10px;
    border-right-style: solid;
}

#galleryImg{
    float: none;
    display: block;
    width: 100%;
    height: 500px;
    text-align: left;
}
#imgs{
    width: 100%;
}

#bg{
background-color: hotpink;
}
#screen50{
    width: 50% 50%;

}

.article{
    width: 40%;
    text-align: justify;

}






* {
    box-sizing: border-box;

}

/* The grid: Four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 5px;
}

/* Style the images inside the grid */
.column img {
    opacity: 0.8;
    cursor: pointer;
}

.column img:hover {
    opacity: 1;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.container {
    position: relative;
    display: none;
}

/* Expanding image text */
#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}

/* Closable button inside the image */
.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}























/* .segment { */
    /* margin: 10px; */
/* } */

/* section { */
    /* padding: 20px; */
/* } */
/* article{ */
    /* min-height: 300px; */
    /* min-width: 50%; */
/* } */

.imgs{
    min-width: 0%;
    min-height: 0%;
}

div.row{
    min-width: 0%;
    min-height: 0%;
}

