


img {
    max-width: 100%
}
nav{
  padding: 10px;
}
nav ul {
    list-style: none;
    padding-left: 0px;
}
nav ul a {
    color: rgb(51, 3, 51);
    text-decoration: none;

}
.bg-beige {
    background-color: blanchedalmond;
}
.bg-purple{
    background-color: rgb(51, 3, 51);
}
.bg-green{
background-color: rgb(8, 61, 8);
}
.bg-pink{
    background-color: rgb(251, 224, 252);
}



/* grid layout */


/* homework link */



body {
    margin: 0px;
  }
  
  .sidebar {
      grid-area: sidebar;
    }
  
    .content {
      grid-area: content;
    }
  
    .header {
      grid-area: header;
    }
  
    .footer {
      grid-area: footer;
    }
  
  
    .wrapper {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: 100px auto 100px;
      grid-template-areas:
      "....... header header"
      "sidebar content content"
      "footer  footer  footer";
      background-color: #fff;
      color: #444;
    }
    
  .box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 150%;
  }
  
  .header,
  .footer {
    background-color: #999;
  }
  
  

@media (min-width: 768px){
    section {
        width: 760px;
        margin: auto;
    }
}