/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 500px) {
    .navbar a {
      float: center;
      display: block;
      width: 100%;
      text-align: left; /* If you want the text to be left-aligned on small screens */
    }
    
  }
  @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
  @media (min-width: 768px){
    .w-md-50 {
        width:33%;}
        .h1{
            font-size: 10px;
            text-align: right;
        }
    }


  


/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 600px) {
  div.example {
    font-size: 30px;
  }
}