 /*     font-family: 'Dancing Script', cursive;

    font-family: 'Lato', sans-serif;

    font-family: 'Montserrat', sans-serif;

    font-family: 'Open Sans', sans-serif;

    font-family: 'Raleway', sans-serif;

    font-family: 'Roboto', sans-serif; */
 
    <link rel="stylesheet" media="screen and (min-width: 900px)" href="widescreen.css">
    <link rel="stylesheet" media="screen and (max-width: 600px)" href="smallscreen.css">
 

 
  
/* Nav Menu */


nav ul a{
    color: lavenderblush;
    text-decoration: whitesmoke;
    }

nav{
    padding: 20px;
    padding-left: 5px;
    text-align: end;
    list-style: center;        list-style-position: inside;
    list-style-image: none;        list-style-type: center;
    font-size: 30px;
    }
          
          nav li {
            line-height: 87px;
            float: left;
            text-align: center;
            width: 150px;
          }




/*  */
.jumbotron {
    background-image: url('deskMock.jpg');
    background-size: cover;
    background-position: center;
}

.jumbotron h1,
.jumbotron h3 {
color: rgb(59, 95, 83);
padding: 10px;
}

body {
    background-color: rgb(238, 218, 238);
    color: rgb(255, 192, 203);
  }
  
  h1 {
    background-color:transparent;
    font-family: 'Montserrat';
    font-size: 75px;
  }
  h3 {
      color: blue;
      font-family: 'Dancing Script', cursive;
      align-content: center;
      font-size: 40px;
  }
  p {
      font-family: 'montserrat';
      font-size: 20px;
  }


.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0px;
    align-content: center;
}

.flex-container > * {
    width: 100%;
}

.segment {
    margin: 10px;
}

.segment {
    margin: 10px;
}

section {
    padding: 20px;
}
article{
    min-height: 300px;
    min-width: 50%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 3px solid green;
  }

  /* Toggle Menu */


#main-navigation label {
    display: block;
    cursor: pointer;
    float: inline-start;
    font-size: 26px;
    margin: 18px 31.5px;
  }

  #main-navigation {
    display: block;
  }

  #main-navigation a {
    display: block;
    padding: 3px;
    font-size: 14.5px;
    text-align: center;
    clear: right;
  }

  ul {
    display: none;
    margin-top: -10px;
    margin-bottom: -10px;
    transition: 800ms;
  }

  input[type=checkbox]:checked~ul {
  display: inline-table;
}

#menutoggle {
    height: 75px;
    float: inline-start;
    display: none;
}

  #menutoggle checked + ul {
    display: block;
}



