@import url("colors.css");
@import url("navbar.css");

body {
    margin: 20px;
}


.flexbox-container{
    height: none;
    display: flex; 
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}


.flexbox-item{
    width: 200px;
    margin: 10px;
    border: 3px solid pink;
    background-color: peachpuff;
}
.flexbox-item-1{
    min-height: 100px;
    
}
.flexbox-item-2{
    min-height: 100px;
   
}
.flexbox-item-3{
    min-height: 100px;

}
.flexbox-item-4{
    min-height: 100px;
    flex-grow: 1;
}
.flexbox-item-5{
    min-height: 100px;
    
}

    /* align-content: none;
    flex-wrap: wrap;
    flex-basis: 0; 
    align-self: center (overwrites);
    order: 2; (changes order visually)*/