.bg-beige {
    background-color: grey;
}
.bg-purple{
    background-color: rgb(51, 3, 51);
}
.bg-green{
background-color: rgb(8, 61, 8);
}
.bg-pink{
    background-color: rgb(235, 57, 154);
}

.bg-smoke {
    background-color: rgba(170,170,170,.5);
}

/* Text Colors */
.txt-light {
    color: rgb(240,240,240)

}