@import url("colors.css");

body{
    background-color: beige;
    width: center;
    margin: 100px;
    min-width: 0px;
}

.bg-beige {
    background-color:beige;
}
.bg-purple{
    background-color: rgb(51, 3, 51);
}
.bg-skyB{
background-color:skyblue;
}
.bg-pink{
    background-color: rgb(235, 57, 154);
}

.bg-bbyPink {
    background-color: pink;
}

/* Text Colors */
.txt-light {
    color: pink;

}