@import url("colors.css");
@import url("navbar.css");
@import url("reset.css");

body{
    background-color: lavender;
    width: center;
    margin: 20px;
    min-width: 0px;
    color: rgb(61, 26, 26);
}
.art2{
    width: 33%;
}


/* Text Colors */
.txt-light {
    color: pink;

}


.flexbox-container{
    height: 100%;
    display: flex; 
    justify-content: space-around;
    align-items: stretch;
    flex-direction: row;
}


.flexbox-item{
    /* body of blog page */
    width: none;
    margin: 10px;
    border: 3px solid pink;
    background-color: peachpuff;
}
.flexbox-item-1{
    min-height: 100px;
    
}
.flexbox-item-2{
    min-height: 100px;
   
}
.flexbox-item-3{
    min-height: 100px;

}
.flexbox-item-4{
    min-height: 100px;
    flex-grow: 1;
}
.flexbox-item-5{
    min-height: 100px;
    
}

    /* align-content: none;
    flex-wrap: wrap;
    flex-basis: 0; 
    align-self: center (overwrites);
    order: 2; (changes order visually)*/


    /* landing img w/ text */
.jumbotron {
    background-image: url('https://images.pexels.com/photos/4144036/pexels-photo-4144036.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
    background-position: center initial;
    border-radius: 0px;
    height: 500px;
}

.jumbotron h1,
.jumbotron h3 {
color: rgb(red, green, blue);
padding-left: 5%;
background-position: 0% 25%;
background-size: cover;
background-repeat: no-repeat;
color: rgb(243, 243, 61);
text-shadow: black 0.3em 0.3em 0.3em;
}
