/* menu UL */
nav ul.flex {
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 2;
    text-align: center;
    align-items: center;
    list-style: none;
    background: linear-gradient(90deg, #fcb683, #92d5e9);
    margin: 0px;
    border:  0px;
    padding:  0px;
}

nav .logo-container {
    background-color: transparent;
    max-width: 200px;
    padding: 0px;
    /* box-sizing: border-box; */
}

nav  ul li {
    padding: 45px;
    /* border-bottom: 2px solid lightgreen; */
}

nav a {
    text-decoration: none;
    color: rgb(61, 26, 26);
}


    nav li:first-child {
        border-left: none;
    }

    nav ul li {
        border-right: 0px solid skyblue;
        border-left: 0px solid skyblue;
        margin: 0px 0px;
        flex-basis: 0;
        flex-grow: 1;
    }
}




/* footer */

.footer{
        background: linear-gradient(90deg, #fcb683, #92d5e9);
        margin: 0px;
        text-align: center;
        display: inline-block;
        margin: 11px;
        width: 100%;
}
.footer img{
        width: 50px;
        margin: 20px;
}

















.flex{
    display: flex;
    flex-direction: column;
}

nav .logo {
    max-width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
nav .logo-container {
    background-color: transparent;
}
nav ul {
    padding: 0px;
    margin: -25px;
    list-style: none;
    text-align: center;
}

nav  ul li {
    padding: 10px;
    /* border-bottom: 2px solid grey; */
}


nav a {
    text-decoration: none;
    color: rgb(61, 26, 26);
}



/* footer */

.footer{
        background: linear-gradient(90deg, #fcb683, #92d5e9);
        margin: 0px;
        text-align: center;
        display: inline-block;
        margin: 11px;
        width: 100%;
}
.footer img{
        width: 50px;
        margin: 20px;
}







@media(max-width: 600px){
    nav ul.flex {flex-direction: column;
    text-align: center;
    align-items: center;
    display: list-item;
    background: linear-gradient(90deg, #fcb683, #92d5e9);
    }
    nav .logo-container{
        width: 20px;
        height: 20%;
    }
    nav .logo{
        width: 20px;  
    }
}

/* mobile view */
@media(max-width: 600px){
    nav.flex {
        flex-direction: row;
        justify-content: space-between;
        float: none;
        width: 100%;
    }

    nav .logo {
        max-width: 200px;
    }
}
/* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .flex a {
      float: none;
      width: 100%;
    }
  }



/* body sections */

@media(max-width: 875px){
    .flexbox-item-1{
        display: none;
    }
}
@media(max-width: 559px){
    .flexbox-item-3{
        display: none;
    }
}