
#toggleAssist,


ul.nav-links {


    display: none;

}


.logo {
    width: 50%;
}


#toggleAssist:checked + ul.nav-links {


    display: block;

}

@media(min-width: 768px) {
    .flex-container img{
        width: 12vw;
    }
    .li{
        display:none;
    }
    .toggle-button {


        display: none;
        width: 200px;
        height: 100px;

    }

   
    
   
}
@media (min-width: 1024px) {
    .flex-container img {
        width: 100%;
    }

}
@media (min-width: 768px) {


    .toggle-button {


        display: none;
        width: 200px;
        height: 100px;

    }


  




    ul.nav-links {


        display: block;

        float: right;

    }




    .nav-links li {


        display: inline-block;

color: black;
        padding: 10px;


        border-bottom: none;

    }

}
#fix {
    width: 90%;
}