/* Generic Rules */
body {
  margin: 10px;
  padding: 40px;
  background-color: black;
  color: purple;
  width: 100%;
  min-width: 10px;
}

nav{
  text-align: center;
  list-style: center;
  list-style-position: center;
  list-style-image: none;
  list-style-type: center;
  width: 100%;
  background-color: transparent;
  overflow: auto;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 3vw;
   
}

.topnav-right{
  float: right;
  width: 33%;
}

.topnav-left{
  float: left;
}

main {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background-color: purple;
  margin-top: 20px;
}

#fix{
width: 100%;
}
    
* {
 box-sizing: border-box;
 
}
/* The grid: Four equal columns that floats next to each other */     
.column {
 float: left;
 width: 25%;
 padding: 5px;
}
/* Style the images inside the grid */
.column img {
  opacity: 0.8;
  cursor: pointer;
}
.column img:hover {
  opacity: 2;
}
    
/* Clearfix (clear floats) */
.row::after {
 content: "";
 clear: both;
 display: table;
}

.container {
  position: relative;
  display: none;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
} 


/* toggle menu */
#toggleAssist,


ul.nav-links {


  display: none;

}


.logo {
  width: 50%;
  align: left;
}


#toggleAssist:checked + li.nav-links {


  display: block;

}


@media (min-width: 1024px) {
  .flex-container img {
      width: 100%;
  }

}
@media(min-width: 768px) {
  .flex-container img{
      width: 12vw;
  }
  .li{
      display:;
  }
  /* hambrgr menu */
  .toggle-button {


      display: inline-block;
      width: 200px;
      height: 100px;

  }

 
  
 
}
@media (min-width: 768px) {

  .toggleBTN{
display: block;
align: center;
  }


  }
  ul.nav-links {


      display: block;

      float: right;

  }
  .nav-links li {


      display: inline-block;

      color: black;
      padding: 10px;


      border-bottom: none;

  }

}
#fix {
  width: 100%;
}


/* go through */

      header {
          height: 300px;
      }

      /* added css from last week */


      /* Generic Rules */


      

      .row {
          width: 100%;
          padding: 50px 0;
          text-align: center;
          background-color: purple;
          margin-top: 20px;
      }

      .fix {
          width: 100%;
      }

      #myDIV2 {
          width: 100%;
          padding: 50px 0;
          text-align: center;
          background-color: purple;
          margin-top: 20px;
          display: none;
      }

      * {
          box-sizing: border-box;

      }

      /* The grid: Four equal columns that floats next to each other */
      .column {
          float: left;
          width: 25%;
          padding: 5px;
      }

      /* Style the images inside the grid */
      .column img {
          opacity: 0.8;
          cursor: pointer;
      }

      .column img:hover {
          opacity: 1;
      }

      /* Clearfix (clear floats) */
      .row::after {
          content: "";
          clear: both;
          display: table;
      }

      .container {
          position: relative;
          display: none;
      }

      /* Expanding image text */
      #imgtext {
          position: absolute;
          bottom: 15px;
          left: 15px;
          color: white;
          font-size: 20px;
      }

      /* Closable button inside the image */
      .closebtn {
          position: absolute;
          top: 10px;
          right: 15px;
          color: white;
          font-size: 35px;
          cursor: pointer;
      }

      /* added css menu from last week */

#toggleAssist,
ul.nav-links {
  display: none;
  }


.logo {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


      #BlackHairImg{
          width: 500px;
          height: 400px;
          
              display: block;
              margin-left: auto;
              margin-right: auto;
              width: 50%;
          
      }


      #toggleAssist:checked+li.nav-links {


          display: block;

      }

      @media(min-width: 768px) {
          .flex-container img {
              width: 12vw;
          }

          .ul {
              display: none;
          }

          .toggleAssist {


              display: none;
              width: 100px;
              height: 100px;

          }
      }

      @media (min-width: 1024px) {
          .flex-container img {
              width: 100%;
          }

      }

      @media (min-width: 768px) {


          .toggle-button {


              display: none;
              width: 200px;
              height: 100px;

          }
      }
