
.bg-purple{
    background-color: rgb(51, 3, 51);
}
.bg-skyB{
background-color:skyblue;
}
.bg-pink{
    background-color: white;
}

.bg-bbyPink {
    background-color: pink;
}

/* Text Colors */
.txt-light {
    color: pink;

}