.bg-beige {
    background-color: white;
}
.bg-purple{
    background-color: White;
}
.bg-transparent{
    background-color: transparent;
}
.bg-green{
background-color: white;
}
.bg-pink{
    background-color: white;
}

/* Text Colors */
.txt-light {
    color: rgb(240,240,240)

}